body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d79c67a8-7603-46e4-b56f-fb9967f82eb2/debqlw7-6412faef-d32f-41bc-81fc-a900a788d474.jpg/v1/fill/w_1192,h_670,q_70,strp/4k_forest_wallpaper_by_mayankgorecha_debqlw7-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZDc5YzY3YTgtNzYwMy00NmU0LWI1NmYtZmI5OTY3ZjgyZWIyXC9kZWJxbHc3LTY0MTJmYWVmLWQzMmYtNDFiYy04MWZjLWE5MDBhNzg4ZDQ3NC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.vSX_dOXMbul9sKeZb5NvD3YvPCThXYNVpeb50JKpOws');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
    font-family: montserrat,sans-serif;
}
html,body{
    width:100vw;
    height: 100vh;
}
main{
    padding:50px 80px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
.weather-info{
    display:flex;
    flex-direction: column;
    gap: 8px;
}
.weather-info_description{
    font-size: 3rem;
}
.weather-info_city{
    font-size: 1.2rem;
}
.weather-info_date{
    font-size: 1rem;
}
.weather-info_temperature{
    font-size: 4rem;
}
input{
    height: 100%;
    max-width: 150px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-weight: 600;
    padding: 6px 12px;
    border-bottom: white 1px solid;
}
input[type="text"]::placeholder {
    color: white;
  }
  input:focus{
    outline:none;
  }

  .weather-details{
    font-size: 1.5rem;
    padding: 10px;
  }
  .weather-details-container{
    display:flex;
    flex-direction: column;
  }